bin
obj
/Liger.Data/obj
/LigerRM.Common/obj
/LigerRM.Entity/obj
/LigerRM.Server/obj
/LigerRM.WebService/obj
/LigerRM_BusinessLayer/obj
/LigerRM_DataLayer/obj
/XGAPI/obj

/LigerRM.Common/bin
/LigerRM.Entity/bin
/LigerRM.Server/bin
/LigerRM.WebService/bin
/LigerRM.WebSite/Bin
/LigerRM_BusinessLayer/bin
/LigerRM_DataLayer/bin
/PrecompiledWeb/LigerRM.WebSite/bin
