<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SmsHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.ums86.com:8899/sms_hb/services/Sms/"
                binding="basicHttpBinding" bindingConfiguration="SmsHttpBinding"
                contract="SMS.SmsPortType" name="SmsHttpPort" />
        </client>
    </system.serviceModel>
</configuration>