<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SignetInternet_BusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SignetInternet_BusinessLayer.Properties.Settings>
            <setting name="SignetInternet_BusinessLayer_SMS_CommonServices"
                serializeAs="String">
                <value>http://www.guardts.com/CommonService/CommonServices.asmx</value>
            </setting>
            <setting name="SignetInternet_BusinessLayer_LockServices_IhzbAttenServiceservice"
                serializeAs="String">
                <value>http://121.201.34.89:21309/soap/IhzbAttenService</value>
            </setting>
        </SignetInternet_BusinessLayer.Properties.Settings>
    </applicationSettings>
</configuration>