<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SignetInternet_DataLayer.Properties.Settings.SignetConnectionString"
            connectionString="Data Source=CNTSNW10178734\SQL2008R2;Initial Catalog=LigerUI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SignetInternet_DataLayer.Properties.Settings.SummaryConnectionString"
            connectionString="Data Source=CNTSNW10178734\SQL2008R2;Initial Catalog=LigerUI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SignetInternet_DataLayer.Properties.Settings.LigerUIConnectionString"
            connectionString="Data Source=219.150.56.178;Initial Catalog=House;User ID=TaiShi;Password=Pa$$w0rd780419;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>