<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="frmTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <connectionStrings>
    <add name="CustomeConfig" connectionString="Data Source=WIN-22SVJ4CMDP8;Initial Catalog=House;User ID=TaiShi;Password=Pa$$w0rd780419;Pooling=true;Max Pool Size=40000;Min Pool Size=0;" providerName="System.Data.SqlClient"/>
    <add name="DataSynConnectionString" connectionString="Data Source=60.30.19.41,8055;Initial Catalog=SignetLigerbsTj;User ID=guard;Password=BeiAn!@#$1234;Pooling=true;Max Pool Size=40000;Min Pool Size=0;" providerName="SqlServer9"/>
    <add name="SummaryConnectionString" connectionString="Data Source=WIN-22SVJ4CMDP8;Initial Catalog=House;User ID=TaiShi;Password=Pa$$w0rd780419;Pooling=true;Max Pool Size=40000;Min Pool Size=0;" providerName="System.Data.SqlClient"/>
    <add name="SqlConnString" connectionString="Data Source=WIN-22SVJ4CMDP8;Initial Catalog=House;User ID=TaiShi;Password=Pa$$w0rd780419;Pooling=true;Max Pool Size=40000;Min Pool Size=0;" providerName="SqlServer9"/>
    <add name="LigerUIConnectionString" connectionString="Data Source=WIN-22SVJ4CMDP8;Initial Catalog=House;User ID=TaiShi;Password=Pa$$w0rd780419;Pooling=true;Max Pool Size=40000;Min Pool Size=0;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <frmTransfer.Properties.Settings>
      <setting name="frmTransfer_DataRequestServiceNew_DataRequestNewImplService"
        serializeAs="String">
        <value>http://103.231.144.162:11020/drs/ws/DataRequestNew</value>
      </setting>
      <setting name="frmTransfer_DataRequestService_DataRequestNewImplService"
        serializeAs="String">
        <value>http://103.231.144.162:11020/drs/ws/DataRequestNew</value>
      </setting>
    </frmTransfer.Properties.Settings>
  </applicationSettings>
</configuration>
